@using Blog.Admin.Controllers.Mvc
@using Blog.Admin.ViewModels
@inject CommonLocalizationService CommonLocalization
@{
    Layout = "_Layout1";
    var domainId = (string)ViewData[nameof(SettingsIndexViewModel.DomainId)];
    var activeTab = (string)ViewData[nameof(SettingsIndexViewModel.ActiveTab)];
    string DropDownClass(bool active) => active ? "bg-gray-200" : "";
    string WideActiveTabClass(bool active) => active ? "border-purple-500 text-purple-600" : "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700";
}

<div class="border-b border-gray-200 px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="min-w-0 flex-1">
        <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">@CommonLocalization.Get("设置")</h1>
    </div>
    <div class="mt-4 flex sm:mt-0 sm:ml-4">
    </div>
</div>

<div class="relative sm:px-6 lg:px-8">
    <div class="pb-16">
        <div class="px-4 sm:px-6 md:px-0">
            <div class="py-3">
                @* 标签 *@
                @* 小屏幕 *@
                <div class="lg:hidden">
                    <div
                        x-data="statelessDropDownComponent"
                        x-on:keydown.escape.prevent.stop="close()"
                        x-on:click.outside="close()"
                        class="relative">
                        <button x-on:click="toggleDropdown()" type="button" class="relative w-full border cursor-default rounded-md  bg-white py-2 pl-3 pr-10 text-left shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                            <span class="block truncate">@activeTab</span>
                            <span class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2">
                                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fillRule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clipRule="evenodd"/>
                                </svg>
                            </span>
                        </button>

                        @*
                        Select popover, show/hide based on select state.
                
                        Entering: ""
                        From: ""
                        To: ""
                        Leaving: "transition ease-in duration-100"
                        From: "opacity-100"
                        To: "opacity-0"
                        *@
                        <ul
                            x-show="dropDownOpen"
                            style="display: none;"
                            x-transition:enter=""
                            x-transition:enter-start=""
                            x-transition:enter-end=""
                            x-transition:leave="transition ease-in duration-100"
                            x-transition:leave-start="opacity-100"
                            x-transition:leave-end="opacity-0"
                            class="absolute z-10 mt-1 max-h-60 w-full overflow-auto px-1 rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
                            <!--
                            Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.
                        
                            Highlighted: "text-white bg-indigo-600", Not Highlighted: "text-gray-900"
                            -->
                            @foreach (var t in SettingsController.Config.Tabs)
                            {
                                <li class="text-gray-900 relative cursor-default select-none rounded-md group @DropDownClass(t == activeTab)" id="listbox-option-tab-id-@t" role="option">
                                    <a asp-action="Index" asp-controller="Settings" asp-route-tab="@t" asp-route-domainId="@domainId" class="block py-2 pl-3 pr-9">
                                        <span class="font-normal block truncate">@CommonLocalization.Get(SettingsController.Config.TabDisplayName(t))</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                @* 大屏幕 *@
                <div class="hidden lg:block">
                    <div class="border-b border-gray-200">
                        <nav class="-mb-px flex space-x-8">
                            @foreach (var t in SettingsController.Config.Tabs)
                            {
                                <a asp-action="Index" asp-controller="Settings" asp-route-tab="@t" asp-route-domainId="@domainId" class="@WideActiveTabClass(t == activeTab) whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">@CommonLocalization.Get(SettingsController.Config.TabDisplayName(t))</a>
                            }
                        </nav>
                    </div>
                </div>

                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <partial name="_StatelessDropDownComponentDriver"/>
    @await RenderSectionAsync("Scripts", required: false)
}