@page "{PostId}"
@model Blog.Web.Pages.Post.Index

@{
    Layout = "_Layout";
}

<div class="h-16"></div>
<article>
    @* Article Header Begin *@
    <div class="lg:w-[653px] w-[576px] mx-auto">
        <div class="text-xs font-medium text-gray-500">
            <div>@Model.CategoryInfo.Name</div>
            <div class="mt-1">@Model.Post.CreatedAt.ToString("D")</div>
        </div>
        <div class="mt-4 text-4xl font-bold">
            @Model.Post.Title
        </div>
        <div class="mt-4 text-xl font-medium">
            @Model.Post.SubTitle
        </div>
    </div>
    @* Article Header End *@
    @* Article Cover Begin *@
    <div class="lg:w-[980px] w-[692px] mx-auto my-10">
        <img class="w-full rounded-lg aspect-[16/9] object-cover" src="@Model.Post.Content.Cover?.GetInfo?.UrlXl"/>
        <div class="lg:w-[653px] w-[576px] mx-auto text-xs py-4 text-gray-500">
            @Model.Post.Content.Cover?.Caption
        </div>
    </div>
    @* Article Cover End *@
    @* Article Content Block Begin *@
    @foreach (var b in Model.Post.Content.Blocks)
    {
        <div class="lg:w-[980px] w-[692px] mx-auto my-10">
            @if (b.Paragraph != null)
            {
                <div class="lg:w-[653px] w-[576px] mx-auto">
                    <p>@b.Paragraph</p>
                </div>
            }
            else if (b.Images != null)
            {
                if (b.Images.Count() == 1)
                {
                    var blockImg = b.Images.First();
                    <img class="w-full rounded-lg aspect-[16/9] object-cover" src="@blockImg.GetInfo?.UrlLg"/>
                    <div class="lg:w-[653px] w-[576px] mx-auto text-xs py-4 text-gray-500">
                        @blockImg.Caption
                    </div>
                }
                else
                {
                }
            }
        </div>
    }
    @* Article Content Block End *@
</article>