<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Evrane.Profile</title>
    <base href="/"/>
    <link rel="stylesheet" href="css/tailwindcss.dist.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    @* 👇每个页面自身的 css *@
    <link rel="stylesheet" href="Evrane.Profile.styles.css"/>
    <HeadOutlet/>
</head>

<body>

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

<script src="_framework/blazor.web.js" suppress-error="BL9992"></script>
</body>
</html>